<div class="imglogo">
    <img src="../../assets/onlylogo.png" alt="Logo" class="avatar" > 
  </div>
  
    <mat-action-list class="sidenavlist">
        
        <button mat-list-item  class="sidebuttons" class="no-hover-effect" routerLink="home"><mat-icon>home</mat-icon> Home </button>
        <button mat-list-item  class="sidebuttons" routerLink="reception"><mat-icon> directions_car</mat-icon> Reception </button>
        <button mat-list-item  class="sidebuttons" routerLink="all_store"> <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>Store </button>
        <button mat-list-item  class="sidebuttons" routerLink="vehicle"><mat-icon>store</mat-icon> Vehicle registration</button>
        <button mat-list-item  class="sidebuttons" routerLink="employe_register"><mat-icon>supervisor_account</mat-icon> Employe Registration </button>
        <button mat-list-item  class="sidebuttons" routerLink="supplier"><mat-icon> local_shipping</mat-icon> Supplier Registration </button>
        <button mat-list-item  class="sidebuttons"><mat-icon>help</mat-icon> Help </button>
        <button mat-list-item  class="sidebuttons"><mat-icon>power_settings_new</mat-icon> log out </button>
        
      </mat-action-list>