<h1>Driver Information</h1>

<p><mat-label>Name</mat-label></p>
<div>
<span class="inputs"><input matInput placeholder="first name" class="iinnppuutt"></span>
<span class="inputs"><input matInput placeholder="middle name"></span>
<span class="inputs"><input matInput placeholder="last name"></span>
</div>

<div>
    <p></p>
    <p><mat-label>DOB</mat-label></p>
    <P><span class="inputs"><input matInput placeholder="DD-MM-YY"></span></P>
    <p></p>
    <p><mat-label>Phone Number</mat-label></p>
    <P><span class="inputs"><input matInput placeholder="2519..."></span></P>
    <mat-label>Telephone</mat-label>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          
          <span matPrefix>+251 &nbsp;</span>
          <input type="tel" matInput placeholder="92343..">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </form>
      
    <p></p>
    <p><mat-label>Email</mat-label></p>
    <P><span class="inputs"><input matInput type="email"></span></P>
    </div>

    <div>
        
        
        <p></p>
        <div></div>
        <p></p>
        <div></div>
            <span class="inputs">
                <span class="inputs"><mat-label>Address</mat-label></span>
                <input matInput>
            </span>
            <span class="inputs">
                <span class="inputs"><mat-label>City</mat-label></span>
                <input matInput>
            </span>
            <span class="inputs">
                <span class="inputs"><mat-label>State</mat-label></span>
                <input matInput>
            </span>
        
        </div>

        <div class="example-button-row">
            <p></p>

            <span class="inputs"><button mat-raised-button><mat-icon>search</mat-icon>Search</button></span>
           
            <span class="inputs"><button mat-raised-button color="primary"><mat-icon>save_alt</mat-icon>Add</button></span>
            
            <span class="inputs"><button mat-raised-button color="accent"><mat-icon>delete</mat-icon>Delete</button></span>
            
          </div>