<mat-card>
<form #vehicleForm="ngForm" class="example-form">
  
    <mat-card-title>
    <h1>Vehicle</h1>
  </mat-card-title>
  <mat-card-content>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Plate Number</mat-label>
        <input matInput name="plate_number" ngModel>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Chassi Number</mat-label>
        <input matInput name="chassi_number" ngModel>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fuel Type</mat-label>
        <mat-select name="fuel_type" ngModel>
            <mat-option value="Benzin">Benzin</mat-option>
            <mat-option value="Gazolin">Gazolin</mat-option>
            <mat-option value="Electric">Electric</mat-option>
            <mat-option value="Other">Other</mat-option>
            </mat-select>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Factory</mat-label>
        <mat-select name="factory" ngModel>
            <mat-option value="TOYOTA">TOYOTA</mat-option>
            <mat-option value="TOYOTA/DU/CAPICKUP">TOYOTA/DU/CAPICKUP</mat-option>
            <mat-option value="TOYOTA 4RUNNER">TOYOTA 4RUNNER</mat-option>
            <mat-option value="TOYOTA AUTOMOBILE">TOYOTA AUTOMOBILE</mat-option>
            <mat-option value="TOYOTA COROLA">TOYOTA COROLA</mat-option>
            <mat-option value="TOYOTA LA/HARDTOP">TOYOTA LA/HARDTOP</mat-option>
            <mat-option value="TOYOTA LA/STA/WAGEN">TOYOTA LA/STA/WAGEN</mat-option>
            <mat-option value="ORAL">ORAL</mat-option>
            <mat-option value="ORAL CARGO">ORAL CARGO</mat-option>
            <mat-option value="PAGO">PAGO</mat-option>
            <mat-option value="OPEL">OPEL</mat-option>
            <mat-option value="TOYOTA AUTOMOBILE">TOYOTA AUTOMOBILE</mat-option>
            <mat-option value="TATA BUS">TATA BUS</mat-option>
            <mat-option value="TOYOTA LA/HARDTOP">TOYOTA LA/HARDTOP</mat-option>
            <mat-option value="TATA DAEWOO">TATA DAEWOO</mat-option>
            <mat-option value="SUZIKI MO/CL">SUZIKI MO/CL</mat-option>
            <mat-option value="SPORTAGE AUTOMOBILE">SPORTAGE AUTOMOBILE</mat-option>
            <mat-option value="MERCEDES">MERCEDES</mat-option>
            <mat-option value="MISTBUSH">MISTBUSH</mat-option>
            <mat-option value="BEIBEN">BEIBEN</mat-option>
            <mat-option value="ANTI RIOT">ANTI RIOT</mat-option>
            <mat-option value="BISHOFTU AUTOMOBILE">BISHOFTU AUTOMOBILE</mat-option>
            </mat-select>
      </mat-form-field></td>
      
      
      </tr>
      <tr>
      
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Price with tax</mat-label>
        <input matInput name="price" ngModel>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Made In</mat-label>
        <mat-select name="made_in" ngModel>
                <mat-option value="German">German</mat-option>
                <mat-option value="Itali">Itali</mat-option>
                <mat-option value="Japan">Japan</mat-option>
                <mat-option value="USA">USA</mat-option>
                <mat-option value="Russia">Russia</mat-option>
            </mat-select>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Type of Service</mat-label>
          <mat-select name="service_type" ngModel>
                  <mat-option value="Public service">Public service</mat-option>
                  <mat-option value="Transport service">Transport service</mat-option>
                  <mat-option value="Water service">Water service</mat-option>
                  <mat-option value="Defense service">Defense service</mat-option>
                 
              </mat-select>
        </mat-form-field></td>
     
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Year Made in</mat-label>
        <input matInput [matDatepicker]="mydatepicker" name="made_year" ngModel>
        <mat-datepicker-toggle matSuffix [for]="mydatepicker"></mat-datepicker-toggle>
        <mat-datepicker #mydatepicker></mat-datepicker>
      </mat-form-field></td>
    </tr>
    <tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>CC</mat-label>
            <input matInput name="cc" ngModel>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Number of Tyers</mat-label>
            <input matInput name="tyers" ngModel>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput name="description" ngModel>
          </mat-form-field></td>
    </tr>

</table>
    <h1>Store receive detail</h1>
    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-label>Condition</mat-label>
            <p>
            <mat-radio-group aria-label="Select an option" name="condition" ngModel>
                <mat-radio-button value="A">A</mat-radio-button>
                <mat-radio-button value="B">B</mat-radio-button>
                <mat-radio-button value="C">C</mat-radio-button>
                <mat-radio-button value="U">Unkown</mat-radio-button>
              </mat-radio-group>
            </p>
            </td> 
            <td><mat-label>Heavy/Light</mat-label>
                <p>
                <mat-radio-group aria-label="Heavy/Light" name="heavy_light" ngModel>
                    <mat-radio-button value="HEAVY">Heavy</mat-radio-button>
                    <mat-radio-button value="LIGHT">Light</mat-radio-button>
                    </mat-radio-group>
                </p>
                </td> 
                <td><mat-label>Load Type</mat-label>
                    <p>
                    <mat-radio-group aria-label="Heavy/Light" name="load_type" ngModel>
                        <mat-radio-button value="Consumable">Solid</mat-radio-button>
                        <mat-radio-button value="Non Consumable">Liquid</mat-radio-button>
                        </mat-radio-group>
                    </p>
                    </td> 
    </tr></table>
  </mat-card-content>
  <mat-card-actions align="end">
    <div class="example-button-row">
      <button mat-raised-button (click)="getVehicle(vehicleForm.value)"><mat-icon>search</mat-icon>Search</button>
      <div class="space2"></div>
      <button mat-raised-button color="primary" (click)="addVehicle(vehicleForm.value)"><mat-icon>save_alt</mat-icon>Save</button>
      
    </div>
  </mat-card-actions>
  
  </form>
</mat-card>

  <h2>Results:</h2> 
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No </th>
      <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="plate_number">
      <th mat-header-cell *matHeaderCellDef> Plate No </th>
      <td mat-cell *matCellDef="let element"> {{element.plate_number}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="chassi_number">
      <th mat-header-cell *matHeaderCellDef>Chassi No </th>
      <td mat-cell *matCellDef="let element"> {{element.chassi_number}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="fuel_type">
      <th mat-header-cell *matHeaderCellDef>Fuel </th>
      <td mat-cell *matCellDef="let element"> {{element.fuel_type}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="factory">
      <th mat-header-cell *matHeaderCellDef>Factory </th>
      <td mat-cell *matCellDef="let element"> {{element.factory}} </td>
    </ng-container>

     <!-- Position Column -->
     <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
     <!-- Position Column -->
     <ng-container matColumnDef="made_in">
      <th mat-header-cell *matHeaderCellDef> Made in </th>
      <td mat-cell *matCellDef="let element"> {{element.made_in}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="service_type">
      <th mat-header-cell *matHeaderCellDef> Service Type </th>
      <td mat-cell *matCellDef="let element"> {{element.service_type}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="made_year">
      <th mat-header-cell *matHeaderCellDef> Year made </th>
      <td mat-cell *matCellDef="let element"> {{element.made_year}} </td>
    </ng-container>

     <!-- Weight Column -->
     <ng-container matColumnDef="cc">
      <th mat-header-cell *matHeaderCellDef> CC </th>
      <td mat-cell *matCellDef="let element"> {{element.cc}} </td>
    </ng-container>

     <!-- Weight Column -->
     <ng-container matColumnDef="tyers">
      <th mat-header-cell *matHeaderCellDef> Tyers </th>
      <td mat-cell *matCellDef="let element"> {{element.tyers}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="heavy_light">
      <th mat-header-cell *matHeaderCellDef> H/L </th>
      <td mat-cell *matCellDef="let element"> {{element.heavy_light}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="_condition">
      <th mat-header-cell *matHeaderCellDef> Condition </th>
      <td mat-cell *matCellDef="let element"> {{element._condition}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="load_type">
      <th mat-header-cell *matHeaderCellDef> Load type </th>
      <td mat-cell *matCellDef="let element"> {{element.load_type}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Des </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> <button mat-button color="primary" (click)="openDialog(element.no)"><mat-icon>edit</mat-icon>Edit</button>
      </td>
    </ng-container>
     <!-- Symbol Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)="deleteVehicle(element.part_number)"><mat-icon>delete</mat-icon>Delete</button>
      </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
