<div class="background">
  <mat-card>
    <div id="title">
      Federal Police Commission Garage System
    </div>
    <div class="imgcontainer">
      <img src="../../assets/federal_logo_2.png" alt="Logo" class="avatar">
    </div>
    <mat-card-content>
      <form #userForm="ngForm">
        <h2>Login here</h2>
        <mat-error *ngIf="!userForm">
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
          <input #usernameinput type="text" placeholder="Enter Username" name="username" required ngModel>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" #passwordinput="ngModel"
            [class.ng-invalid2]="passwordinput.invalid && passwordinput.touched" placeholder="Enter Password"
            name="password" required ngModel>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button class="button" type="submit" (click)="log(userForm.value)" mat-raised-button color="#0e2c50"
          [disabled]="!userForm.form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>