<form #supplierForm="ngForm" class="example-form" *ngIf="!print">
  <mat-card>
    <mat-card-title>
    Suppplier Information
  </mat-card-title>
  <mat-card-content>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Supplier Name</mat-label>
        <input matInput name="name" ngModel>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Supplier Id</mat-label>
        <input matInput name="supplier_id" ngModel>
      </mat-form-field></td>
      
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="mydatepicker" name="date" ngModel>
        <mat-datepicker-toggle matSuffix [for]="mydatepicker"></mat-datepicker-toggle>
        <mat-datepicker #mydatepicker></mat-datepicker>
      </mat-form-field></td>
    </tr></table>
  </mat-card-content>
  </mat-card>
    <mat-card>
    <mat-card-title>
     Supplier Contact Information
  </mat-card-title>
  <mat-card-content>
    <table class="example-full-width" cellspacing="0"><tr>
      
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contact</mat-label>
        <input matInput name="contact" ngModel>
      </mat-form-field></td>
      
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput name="address" ngModel>
      </mat-form-field></td>
      
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tel1</mat-label>
        <input matInput name="tel1" ngModel>
      </mat-form-field></td>
      
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tel2</mat-label>
        <input matInput name="tel2" ngModel>
      </mat-form-field></td>
      
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Website</mat-label>
        <input matInput name="website" ngModel>
      </mat-form-field></td>
      </tr></table>
    </mat-card-content>
  <mat-card-actions align="end">
    <div class="example-button-row">
      <button mat-raised-button (click)="getSupplier(supplierForm.value)"><mat-icon>search</mat-icon>Search</button>
      <div class="space2"></div>
      <button mat-raised-button color="primary" (click)="addSupplier(supplierForm.value)"><mat-icon>save_alt</mat-icon>Save</button>
      
    </div>
  </mat-card-actions>
  
</mat-card>

  </form>
  
  <mat-card>
    <mat-card-title>
  <h2>Results:</h2>
</mat-card-title>
<mat-card-content> 
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>

     <!-- Position Column -->
     <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="supplier_id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.supplier_id}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef> Contact </th>
      <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
    </ng-container>

     <!-- Weight Column -->
     <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="tel1">
      <th mat-header-cell *matHeaderCellDef> Tel-1 </th>
      <td mat-cell *matCellDef="let element"> {{element.tel1}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="tel2">
      <th mat-header-cell *matHeaderCellDef> Tel-2 </th>
      <td mat-cell *matCellDef="let element"> {{element.tel2}} </td>
    </ng-container>
     <!-- Symbol Column -->
     <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef> Website </th>
      <td mat-cell *matCellDef="let element"> {{element.website}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" > <button mat-button color="primary" (click)="openDialog(element.no)" *ngIf="!print"><mat-icon>edit</mat-icon>Edit</button>
      </td>
    </ng-container>
     <!-- Symbol Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)="deleteSupplier(element.request_number)" *ngIf="!print"><mat-icon>delete</mat-icon>Delete</button>
      </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card-content>
</mat-card>
<button mat-button color="primary" (click)="printData()"><mat-icon>edit</mat-icon>Preview and Print</button>
