<form #storeForm="ngForm" >

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Employe Id</mat-label>
        <input matInput name="employe_id" [ngModel]="data.employe_id" >
      </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput name="title" [ngModel]="data.title" >
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Full Name</mat-label>
          <input matInput name="name" [ngModel]="data.name" >
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Gender</mat-label>
          <input matInput name="gender" [ngModel]="data.gender">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Profession</mat-label>
          <input matInput name="profession" [ngModel]="data.profession">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Responsibility</mat-label>
          <input matInput name="responsibility" [ngModel]="data.responsibility">
        </mat-form-field></td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Department</mat-label>
          <input matInput name="department" [ngModel]="data.department">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Type</mat-label>
            <input matInput name="type" [ngModel]="data.type">
          </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Birth date</mat-label>
          <input  matInput [matDatepicker]="mydatepicker" name="birth_date" [ngModel]="data.birth_date" placeholder="{{data.birth_date}}">
          <mat-datepicker-toggle matSuffix [for]="mydatepicker"></mat-datepicker-toggle>
          <mat-datepicker #mydatepicker></mat-datepicker>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Directorate</mat-label>
            <input matInput name="directorate" [ngModel]="data.directorate" >
          </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Division</mat-label>
              <input matInput name="division" [ngModel]="data.division" >
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Mastebaberiya</mat-label>
              <input matInput name="mastebaberiya" [ngModel]="data.mastebaberiya">
            </mat-form-field></td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Team</mat-label>
              <input matInput name="team" [ngModel]="data.team">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Level</mat-label>
              <input matInput name="level" [ngModel]="data.level">
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Salary</mat-label>
                <input matInput name="salary" [ngModel]="data.salary">
              </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Hire Date</mat-label>
              <input  matInput [matDatepicker]="mydatepicker2" name="hire_date" [ngModel]="data.hire_date" placeholder="{{data.hire_date}}">
              <mat-datepicker-toggle matSuffix [for]="mydatepicker2"></mat-datepicker-toggle>
              <mat-datepicker #mydatepicker2></mat-datepicker>
            </mat-form-field></td> 
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput name="password" [ngModel]="data.password">
        </mat-form-field></td> 
      </tr>
    </table>
      
    </form>
    
      <mat-dialog-actions>
          
          <button mat-raised-button color="primary" mat-dialog-close (click)="updateEmployeRegistration(storeForm.value,data.no)">Update</button>
      </mat-dialog-actions>
     