<form #employeForm="ngForm" class="example-form">
    <mat-card>
        <mat-card-title>
    <h1>Employee Registration</h1>
        </mat-card-title>
        <mat-card-content>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Employe Id</mat-label>
        <input matInput name="employe_id" ngModel>
      </mat-form-field></td>
      
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <mat-select name="title" ngModel>
            <mat-option value="title_ato">Ato</mat-option>
            <mat-option value="title_commander">Commander</mat-option>
            <mat-option value="title_inspector">Inspector</mat-option>
            <mat-option value="title_mechanic">Mechanic</mat-option>
            </mat-select>
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput name="name" ngModel>
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select name="gender" ngModel>
            <mat-option value="gender_male">MALE</mat-option>
            <mat-option value="gender_female">FEMALE</mat-option>
            </mat-select>
      </mat-form-field></td>
      </tr>
      <tr>

      <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Profession</mat-label>
        <mat-select name="profession" ngModel>
                <mat-option value="profession_techincian">Techincian/Tester</mat-option>
                <mat-option value="store_number_2">XXXXXXXX</mat-option>
                <mat-option value="store_number_3">XXXXXXXX</mat-option>
                <mat-option value="store_number_4">XXXXXX</mat-option>
                <mat-option value="store_number_5">XXXXXXX</mat-option>
            </mat-select>
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Responsiblity</mat-label>
          <mat-select name="responsiblity" ngModel>
                  <mat-option value="responxibility_director">Director</mat-option>
                  <mat-option value="store_number_2">XXXXXXXX</mat-option>
                  <mat-option value="store_number_3">XXXXXXXX</mat-option>
                  <mat-option value="store_number_4">XXXXXX</mat-option>
                  <mat-option value="store_number_5">XXXXXXX</mat-option>
              </mat-select>
        </mat-form-field></td>

        
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Department</mat-label>
          <mat-select name="department" ngModel>
                  <mat-option value="department">Ethiopian Police Unversity College</mat-option>
                  <mat-option value="part_type_steering">Steering System</mat-option>
                  <mat-option value="part_type_suspenssion">Suspenssion</mat-option>
                  <mat-option value="part_type_body">Body System</mat-option>
                  <mat-option value="part_type_engine">Engine System</mat-option>
                  <mat-option value="part_type_electric">Electric sYSTEM</mat-option>
              </mat-select>
        </mat-form-field></td>
     
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Directorate</mat-label>
              <mat-select name="directorate" ngModel>
                      <mat-option value="directorate">Audit</mat-option>
                      <mat-option value="part_type_steering">Steering System</mat-option>
                      <mat-option value="part_type_suspenssion">Suspenssion</mat-option>
                      <mat-option value="part_type_body">Body System</mat-option>
                      <mat-option value="part_type_engine">Engine System</mat-option>
                      <mat-option value="part_type_electric">Electric sYSTEM</mat-option>
                  </mat-select>
            </mat-form-field></td>
    </tr>
    <tr>

        <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Division</mat-label>
          <mat-select name="divison" ngModel>
                  <mat-option value="division">xxxxxx</mat-option>
                  <mat-option value="store_number_2">XXXXXXXX</mat-option>
                  <mat-option value="store_number_3">XXXXXXXX</mat-option>
                  <mat-option value="store_number_4">XXXXXX</mat-option>
                  <mat-option value="store_number_5">XXXXXXX</mat-option>
              </mat-select>
        </mat-form-field></td>
  
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Mastebaberiya</mat-label>
            <mat-select name="mastebaberiya" ngModel>
                    <mat-option value="responxibility_director">Director</mat-option>
                    <mat-option value="store_number_2">XXXXXXXX</mat-option>
                    <mat-option value="store_number_3">XXXXXXXX</mat-option>
                    <mat-option value="store_number_4">XXXXXX</mat-option>
                    <mat-option value="store_number_5">XXXXXXX</mat-option>
                </mat-select>
          </mat-form-field></td>
  
          
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Team</mat-label>
            <mat-select name="team" ngModel>
                    <mat-option value="department">Ethiopian Police Unversity College</mat-option>
                    <mat-option value="part_type_steering">Steering System</mat-option>
                    <mat-option value="part_type_suspenssion">Suspenssion</mat-option>
                    <mat-option value="part_type_body">Body System</mat-option>
                    <mat-option value="part_type_engine">Engine System</mat-option>
                    <mat-option value="part_type_electric">Electric sYSTEM</mat-option>
                </mat-select>
          </mat-form-field></td>
       
          <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Education Level</mat-label>
                <mat-select name="level" ngModel>
                        <mat-option value="education_10">10th</mat-option>
                        <mat-option value="part_type_steering">12th</mat-option>
                        <mat-option value="part_type_suspenssion">Unversity</mat-option>
                        <mat-option value="part_type_body">Deploma</mat-option>
                        <mat-option value="part_type_engine">Degree</mat-option>
                        <mat-option value="part_type_electric">Phd</mat-option>
                    </mat-select>
              </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Employe Type</mat-label>
              <mat-select name="type" ngModel>
                      <mat-option value="type_military">MILITARY</mat-option>
                      <mat-option value="store_number_2">XXXXXXXX</mat-option>
                      <mat-option value="store_number_3">XXXXXXXX</mat-option>
                      <mat-option value="store_number_4">XXXXXX</mat-option>
                      <mat-option value="store_number_5">XXXXXXX</mat-option>
                  </mat-select>
            </mat-form-field></td>

        <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Salary</mat-label>
            <input matInput name="salary" ngModel>
          </mat-form-field></td>

          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Birth Date</mat-label>
            <input matInput [matDatepicker]="mydatepicker" name="birth_date" ngModel>
            <mat-datepicker-toggle matSuffix [for]="mydatepicker"></mat-datepicker-toggle>
            <mat-datepicker #mydatepicker></mat-datepicker>
          </mat-form-field></td>

          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Hired Date</mat-label>
            <input matInput [matDatepicker]="mydatepicker2" name="hire_date" ngModel>
            <mat-datepicker-toggle matSuffix [for]="mydatepicker2"></mat-datepicker-toggle>
            <mat-datepicker #mydatepicker2></mat-datepicker>
          </mat-form-field></td>

      </tr>
</table>
</mat-card-content>
    <mat-card-actions align="end">
    <div class="example-button-row">
      <button mat-raised-button (click)="getEmploye(employeForm.value)"><mat-icon>search</mat-icon>Search</button>
      <div class="space2"></div>
      <button mat-raised-button color="primary" (click)="addEmploye(employeForm.value)"><mat-icon>save_alt</mat-icon>Save</button>
   </div>
</mat-card-actions>
</mat-card>
  </form>
  <mat-card>
    {{employeForm.value | json }}
  <h2>Results:</h2> 
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="employe_id">
      <th mat-header-cell *matHeaderCellDef> Emp. Id </th>
      <td mat-cell *matCellDef="let element"> {{element.employe_id}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="profession">
      <th mat-header-cell *matHeaderCellDef>Profession </th>
      <td mat-cell *matCellDef="let element"> {{element.profession}} </td>
    </ng-container>

     <!-- Position Column -->
     <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element"> {{element.department}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="directorate">
      <th mat-header-cell *matHeaderCellDef> Directorate </th>
      <td mat-cell *matCellDef="let element"> {{element.directorate}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="division">
      <th mat-header-cell *matHeaderCellDef> Division </th>
      <td mat-cell *matCellDef="let element"> {{element.division}} </td>
    </ng-container>

     <!-- Weight Column -->
     <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef> Team </th>
      <td mat-cell *matCellDef="let element"> {{element.team}} </td>
    </ng-container>

     <!-- Weight Column -->
     <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef> Salary </th>
      <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> Level </th>
      <td mat-cell *matCellDef="let element"> {{element.level}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> <button mat-button color="primary" (click)="openDialog(element.no)"><mat-icon>edit</mat-icon>Edit</button>
      </td>
    </ng-container>
     <!-- Symbol Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)="deleteEmploye(element.employe_id)"><mat-icon>delete</mat-icon>Delete</button>
      </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>